# Ignore build artifacts
bin/
obj/
.vscode/
.idea/
*.db
*.sqlite
Dockerfile

# Ignore user secrets & env files
.env
secrets.json

# Ignore Rider files
.idea/
*.sln.iml

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
